<span (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
  class="
    appearance-none
    rounded
    border border-gray-500
    px-2
    py-2
    text-sm text-gray-600
    hover:border-blue-300
    focus:border-blue-400
    focus:outline-none
    flex
  "
>
  <label class="flex-grow">{{selectedLabel}}</label>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5"
    viewBox="0 0 20 20"
    fill="currentColor"
  >
    <path
      fill-rule="evenodd"
      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
      clip-rule="evenodd"
    />
  </svg>
</span>

<ng-template 
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <span class="flex flex-col">
    <label *ngFor="let option of _options">
      <input type="checkbox"  [checked]="selectedOptions.isSelected(option)" (change)="toggle(option)"  /> {{ option[label] }}
    </label>
  </span>
</ng-template>
