 .hello {
    width: 40rem;
    background-color: #9e9e9e;
    height: 10vh;
    /* right: -100%; */
    /* transition: 300ms; */
}

/* .isVisible {
    right: 0;
}  */


 /* .hello {
    width: 40vw;
    background-color: #9e9e9e;
    height: 30vh;
    transition: 500ms;
    opacity: 0;
} 

.isVisible {
    opacity: 1;
}  */
