@import "~@angular/cdk/overlay-prebuilt.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  --shadow-formElement-focus: 0 0 0.25em 0.125em rgb(82, 84, 87);
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}

img,
fieldset,
object {
  border: none;
}

*,
*:after,
*:before {
  flex: 1 0 auto;
  /* safari bugfix */
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

hr {
  display: none;
}

body,
button,
input,
table,
textarea,
select {
  font: normal 1em/1.5 "poppins", arial, helvetica, sans-serif;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: var(--shadow-formElement-focus);
}

main {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 1rem;
  height:100%;
  overflow:auto;
  background:var(--color-main-bg);
  color:var(--color-flowText);
}